<nav id="menu">
	<a href="{{ path('partido') }}" id="partidosBttn"></a>
	<a href="{{ path('campeonato') }}" id="campeonatosBttn"></a>
	<a href="{{ path('equipo') }}" id="equiposBttn"></a>
	<a href="{{ path('jugador') }}" id="jugadoresBttn"></a>
	<a href="{{ path('fos_user_security_logout') }}" id="estadisticasBttn"></a>
	<a href="{{ path('fos_user_security_logout') }}" id="logoutBttn"></a>
</nav>