{% extends '::base.html.twig' %}
{% block nav %}
<img src="{{asset('img/logo_home_top.png')}}"/>
<nav id="front">
<ul>
	<li><a href="" class="start">FOTOS</a></li>
	<li><a href="">VIDEOS</a></li>
	<li><a href="javascript:listCampeonatos()">CAMPEONATOS</a></li>
	<li><a href="javascript:listEquipos()">LOS EQUIPOS</a></li>
	<li><a href="">REGLAMENTO</a></li>
	<li><a href="">CODIGO FAIR PLAY</a></li>
	<li><a href="">PREGUNTAS FRECUENTES</a></li>
	<li><a href="">CONTACTO</a></li>
	<li>
		{% if app.session is not empty and user != 'anon.' %}
        	<a href="{{path('menu_admin')}}">{{ user.username }}</a>  <a href="{{path('fos_user_security_logout')}}" class="end">| Logout</a>
        {% else %}
        	<a href="{{path('menu_admin')}}" class="end">LOGIN</a>
    	{% endif %}
	</li>
</ul>
</nav>
{% endblock %}

{% block body %}
<div id="content">
	<img src="{{asset('img/home_chico_solo.png')}}" style="margin: 10px auto; display: block;">
</div>
{% endblock %}
{% block javascripts %}
{{parent()}}
<script type="text/javascript">
/** Carga la imagen del content **/
function loadImage () {
	$('#content').html('<img src="{{asset('img/home_chico_solo.png')}}" style="margin: 10px auto; display: block;">');
}
/** Carga la lista de equipos **/
function listEquipos () {
	var request = $.ajax({
		type:"get",
		url:"{{path('equipo_index_front')}}",
		data: 'page=1',
	});
	request.done(function (data) {
		$('#content').html(data);
	});
}
/** Carga la lista de campeonatos **/
function listCampeonatos (all) {
	var request = $.ajax({
		type:"get",
		url:"{{path('index_campeonato_front')}}",
		data: 'page=1&all='+all,
	});
	request.done(function (data) {
		$('#content').html(data);
	});
}
</script>

{% endblock %}