{% extends '::base_backend.html.twig' %}
{% block body %}
<h1 class="titulo_seccion">Lista de Jugadores</h1>
<a href="{{ path('jugador_new') }}" class="button">Crear jugador</a>

<table class="general">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Dni</th>
            <th>Fecha de nacimiento</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.nombre }}</td>
            <td>{{ entity.apellido }}</td>
            <td>{{ entity.dni }}</td>
            <td>{{ entity.fechadeNacimiento|date('d-m-Y') }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('jugador_show', { 'id': entity.dni }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('jugador_edit', { 'dni': entity.dni }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}