{% extends '::base_backend.html.twig' %}
{% block body %}
{% block notificationBar %}{% endblock %}
<div id="perfil">
<div class="sidebar-perfil">
	{% render 'Area4CampeonatoBundle:Jugador:sidebarPerfil' %}
</div>
<article class="perfil">
	<div>{% render 'Area4CampeonatoBundle:Notificaciones:index' with {'tipo':'Perfil'} %}</div>
	<div id="perfil-menu">
		{% if is_granted('ROLE_ADMIN') %}
			<a href="{{path('documento')}}" class="img-button" id="moduloContable"></a>
		{% endif %}
		{% if is_granted('ROLE_ORG') %}
			<a href="javascript:indexCampeonato()" class="img-button" id="gestionCampeonatos"></a>
			<a href="javascript:seleccionarCampeonato()" id="gestionPartidos" class="img-button"></a>
			<a href="javascript:indexJugador()" id="jugadores" class="img-button"></a>
		{% endif %}
		{% if is_granted('ROLE_CAP') %}
			<a href="javascript:invitarJugadores()" id="invitarJugador" class="img-button"></a>
		{% endif %}
		{% if is_granted('ROLE_JUG') %}
			<a href="" class="img-button">Mis Estadísticas</a>
			<a href="{{path('fos_user_security_logout')}}" class="img-button" id="logout"></a>
		{% endif %}
	</div>
	<div id="perfil-content">{% block content %}{% endblock %}</div>
</article>
</div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript">

/** Recarga el sidebar-perfil **/
function reloadSidebarPerfil () {
	setAjaxLoader('.sidebar-perfil');
	var request = $.ajax({
		type: "POST",
		url: "{{path('jugador_perfil_sidebar')}}"
	});
	request.done(function (data) {
		$('.sidebar-perfil').html(data);
	});
}


function indexCampeonato () {
	setAjaxLoader('#perfil-content');
	var request = $.ajax({
		type: "POST",
		url: "{{path('campeonato_by_user')}}",
	});
	request.done(function(html){
		$("#perfil-content").html(html);
	});
}



function newCampeonato () {
	setAjaxLoader('#dialog');
	var dialog = new Dialog();
	dialog.title = 'Crear Campeonato';
	dialog.close = function (event, ui) {
		indexCampeonato();
	}
	var request = $.ajax({
  					type: "POST",
  					url: "{{ path('campeonato_new') }}",
  				});
	request.done(
		function( html ) {
  			$("#dialog").html(html);
		});

	$('#dialog').dialog(dialog);
	abrirDialogo('#dialog');
}
/**
 * Llama a un dialogo para elejir un campeonato para cargar los equipos
 */
function seleccionarCampeonato() {
	setAjaxLoader('#perfil-content');
	var url_campeonato_list = "{{ path('campeonato_list') }}"
	var dialog = new Dialog();
	dialog.title = 'Seleccionar campeonato';
	dialog.modal = true;
	dialog.height = 400;
	dialog.width = 500;
	var request = $.ajax({
  					type: "POST",
  					url: url_campeonato_list
  				});

	request.done(
		function( html ) {
  			$("#dialog").html(html);
		});
	$('#dialog').dialog(dialog);

	
}
/**
 * Carga en el contenido del perfil la gestión de los partidos
 */
function gestionPartidos (campeonato) {
	$('#dialog').dialog('close');
	var url_partidos = "{{ path('partido_by_campeonato', {'campeonato':null}) }}";
	var data = 'campeonato='+campeonato;
	var request = $.ajax({
  					type: "POST",
  					url: url_partidos,
  					data: data
  				});
	request.done(
		function( html ) {
  			$("#perfil-content").html(html);
		})
}
/**
 * Carga la invitación de jugadores
 */
function invitarJugadores() {
	setAjaxLoader('#perfil-content');
	$('#dialog').dialog('close');
	var url_partidos = "{{ path('invitaciones_new')}}";
	var request = $.ajax({
  					type: "POST",
  					url: url_partidos,
  				});
	request.done(
		function( html ) {
  			$("#perfil-content").html(html);
		});
}
/**
 * Carga el equipo show en el contenido del perfil.
 */
function equipoShow () {
	setAjaxLoader('#perfil-content');
	var url_equipo_show = {% if jugador.Equipo %}
		"{{path('equipo_show', {'id':jugador.Equipo.id})}}" 
		{%else%}
		"{{path('equipo_new')}}" 
		{%endif%};
	var request = $.ajax({
  					type: "POST",
  					url: url_equipo_show,
  				});
	request.done(
		function( html ) {
  			$("#perfil-content").html(html);
		});
}

function indexJugador () {
	setAjaxLoader('#perfil-content');
	var request = $.ajax({
		url: "{{ path('jugador')}}",
	});
	request.done(function (data) {
		$('#perfil-content').html(data);
	});
}
</script>

{% endblock %}