<h1 class="titulo_seccion">Lista de partidos</h1>

<a href="javascript:partidoNew({{campeonato}})" class="button-ui-plusthick">Crear</a>

<table class="general">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Dia - Hora</th>
            <th>Local</th>
            <th>Resultado Local</th>
            <th>Visitante</th>
            <th>Resultado Visitante</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{% if entity.fecha %}{{ entity.fecha }}{% else %}NO DEF.{% endif%}</td>
            <td>{% if entity.diahora %}{{ entity.diahora|date('Y-m-d H:i:s') }}{% else %}NO DEF.{% endif%}</td>
            <td>{{ entity.local }}</td>
            <td>{{ entity.resultadol }}</td>
            <td>{{ entity.visitante }}</td>
            <td>{{ entity.resultadov }}</td>
            <td>
                <a href="{{path('partido_planilla', {'id':entity.id})}}" target="_blank"><img src="{{asset('img/icons/newspaper.png')}}" alt="Planilla de Partido" title="Planilla de Partido"></a>
                <a href="javascript:editPartido('{{ path('partido_edit', { 'id': entity.id }) }}', {{campeonato}})"><img src="{{asset('img/icons/newspaper-edit.png')}}" alt="Editar Partido" title="Editar Partido"></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<script type="text/javascript">

function partidoNew (campeonato) {
    var dialog = new Dialog();
    dialog.title = 'Crear Partido';
    var data = 'campeonato='+campeonato;
    var request = $.ajax({
                    type: "POST",
                    url: "{{ path('partido_new') }}",
                    data: data
                });
    
    request.done(
        function( html ) {
            $("#dialog").html(html);
        });
    request.fail(
        function( html ) {
            $("#dialog").html(html);
        });

    $('#dialog').dialog(dialog);
    $('#dialog').dialog('open');
}

function editPartido (url,campeonato) {
    var request = $.ajax({
                    type: "POST",
                    url: url,
                    data: 'campeonato='+campeonato,
                });
    
    request.done(
        function( html ) {
            $("#perfil-content").html(html);
        });
    request.fail(
        function( html ) {
            $("#perfil-content").html(html);
        });
}
cargarBotones();
</script>