<h1>Partido list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Dia</th>
            <th>Hora</th>
            <th>Fecha</th>
            <th>Resultadol</th>
            <th>Resultadov</th>
            <th>Estado</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('partido_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{% if entity.dia %}{{ entity.dia|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>{{ entity.hora }}</td>
            <td>{{ entity.fecha }}</td>
            <td>{{ entity.resultadol }}</td>
            <td>{{ entity.resultadov }}</td>
            <td>{{ entity.estado }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('partido_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('partido_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('partido_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
