<h1 class="titulo_seccion">Lista de partidos</h1>

<a href="javascript:partidoNew({{campeonato}})" class="button-ui-plusthick">Crear</a>

<table class="general">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Dia - Hora</th>
            <th>Local</th>
            <th>Visitante</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{% if entity.fecha %}{{ entity.fecha }}{% else %}NO DEF.{% endif%}</td>
            <td>{% if entity.diahora %}{{ entity.diahora|date('Y-m-d H:i:s') }}{% else %}NO DEF.{% endif%}</td>
            <td>{{ entity.local }}</td>
            <td>{{ entity.visitante }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('partido_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('partido_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<script type="text/javascript">

function partidoNew (campeonato) {
    var dialog = new Dialog();
    dialog.title = 'Crear Partido';
    var data = 'campeonato='+campeonato;
    var request = $.ajax({
                    type: "POST",
                    url: "{{ path('partido_new') }}",
                    data: data
                });
    
    request.done(
        function( html ) {
            $("#dialog").html(html);
        });
    request.fail(
        function( html ) {
            $("#dialog").html(html);
        });

    $('#dialog').dialog(dialog);
    $('#dialog').dialog('open');
}

cargarBotones();
</script>