<h1>novedad list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Minuto</th>
            <th>Obs</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('novedad_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.minuto }}</td>
            <td>{{ entity.obs }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('novedad_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('novedad_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{##}
